@page "/counter"
@using System.Net.WebSockets
@using System.Text
@using System.Text.Json
@using System.Text.Json.Serialization
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>


<h1>Counter</h1>
<h3>State: @webSocket.State</h3>

@if (webSocket.State == WebSocketState.Open)
{
    <form @onsubmit="(async () => await SendMessageAsync(message))">
        Message: <input @bind="@message" />
        <button  type="submit">Send</button>
    </form>

    <button @onclick="@AuthorizeClient">Authorize and start session</button>
}

<pre>@log</pre>

@code{

}