@page "/counter"
@using System.Net.WebSockets
@using System.Text
@using System.Text.Json
@using System.Text.Json.Serialization
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>


<h1>Counter</h1>
<Emotiv.Components.EmotivUtils.WebsocketWrapper></Emotiv.Components.EmotivUtils.WebsocketWrapper>
@code{

}